/acr120provider/META-INF
/acr120provider/acr120provider.jar
/acr122provider/META-INF
/acr122provider/acr122provider.jar
/crefprovider/bin
/jcopprovider/bin

/scuba_sc_indep/bin
/scuba_sc_j2se/bin
/scuba_smartcards/bin
/scuba_util/bin
/scuba_util_j2se/bin
